@import "tailwindcss";

body{
  overflow-x: hidden;
}

@font-face {
  font-family: anzo1;
  src: url(./assets/file1.woff2);
}

@font-face {
  font-family: anzo2;
  src: url(./assets/file2.woff2);
}

@font-face {
  font-family: anzo3;
  src: url(./assets/file3.woff2);
}


#page1-in {
  position: relative;
  perspective: 1000px;
}

#tiltDiv {
  width: fit-content;
  transform: rotate(0deg);
}

/* .section2{
  position: relative;
  perspective: 4000px;
} */


.rotateText{
  transform-origin: 100% 100%;
}

